body{
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 700px;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#calendar2 {
    width: 500px;
    font-size: 14pt;
    text-align: center;
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}